NoneType
NoneType
NoneType
[/VIVERES/Pastas-y-Harinas/Pastas/c/001001001']
['/VIVERES/Pastas-y-Harinas/Harinas/c/001001002']
['/VIVERES/Aceites-y-aderezos/Aceites/c/001002001']
['/VIVERES/Aceites-y-aderezos/Vinagres/c/001002002']
['/VIVERES/Aceites-y-aderezos/Mayonesas/c/001002003']
['/VIVERES/Aceites-y-aderezos/Sazonadores/c/001002004']
['/VIVERES/Aceites-y-aderezos/Salsas-de-Tomate/c/001002005']
['/VIVERES/Aceites-y-aderezos/Mostazas/c/001002006']
['/VIVERES/Aceites-y-aderezos/Picantes/c/001002007']
['/VIVERES/Aceites-y-aderezos/Aderezos/c/001002008']
['/VIVERES/Snack/Papas-Fritas/c/001003001']
['/VIVERES/Snack/Palitos-de-Queso/c/001003002']
['/VIVERES/Snack/Yuca-Aros-de-Cebolla/c/001003003']
['/VIVERES/Snack/Platanitos/c/001003004']
['/VIVERES/Snack/Tortillas/c/001003005']
['/VIVERES/Snack/Cotufa/c/001003006']
['/VIVERES/Snack/Dips/c/001003007']
['/VIVERES/Snack/Comida-Internacional/c/001003008']
['/VIVERES/Snack/Frutos-Secos/c/001003009']
['/VIVERES/Panes/Dulces/c/001004001']
['/VIVERES/Panes/Salados/c/001004002']
['/VIVERES/Panes/Tostados/c/001004003']
['/VIVERES/Panes/Bizcochos/c/001004004']
['/VIVERES/Panes/Croissant/c/001004005']
['/VIVERES/Panes/Casabes/c/001004006']
['/VIVERES/Panes/Tortillas/c/001004007']
['/VIVERES/SopasyCaldos/Sopas-Instantaneas/c/001005001']
['/VIVERES/SopasyCaldos/Caldos-Deshidratados/c/001005002']
['/VIVERES/SopasyCaldos/Bases-y-Cremas/c/001005003']
['/VIVERES/Arroz-y-Granos/Arroz/c/001006001']
['/VIVERES/Arroz-y-Granos/Granos/c/001006002']
['/VIVERES/Enlatados/Carnicos/c/001007001']
['/VIVERES/Enlatados/Frutas/c/001007002']
['/VIVERES/Enlatados/Vegetales/c/001007003']
['/VIVERES/Enlatados/Tomates/c/001007004']
['/VIVERES/Enlatados/Mar/c/001007005']
['/VIVERES/Cereales-y-Naturales/Hojuelas/c/001010001']
['/VIVERES/Cereales-y-Naturales/Barras/c/001010002']
['/VIVERES/Cereales-y-Naturales/Narturales/c/001010003']
['/VIVERES/Cereales-y-Naturales/Avenas/c/001010004']
['/VIVERES/Untables/Queso-Fundido/c/001011001']
['/VIVERES/Untables/Mermelada/c/001011002']
['/VIVERES/Untables/Chocolate/c/001011004']
['/VIVERES/Untables/Refrigerados/c/001011005']
['/VIVERES/Untables/Arequipe/c/001011007']
['/VIVERES/Galletas-y-Golosinas/Galletas/c/001012001']
['/VIVERES/Galletas-y-Golosinas/Chocolates/c/001012002']
['/VIVERES/Galletas-y-Golosinas/Ponques/c/001012003']
['/VIVERES/Galletas-y-Golosinas/Mezclas-para-postres/c/001012004']
['/VIVERES/Galletas-y-Golosinas/Golosinas/c/001012005']
['/VIVERES/Galletas-y-Golosinas/Postres-Listos/c/001012006']
NoneType
['/VIVERES/Aceites-y-aderezos/Sazonadores/SALSA-INGLESA-EXCELSIOR-GAMA-150-CC/p/10014782']
['/VIVERES/Aceites-y-aderezos/Sazonadores/SALSA-INGLESA-EXCELSIOR-GAMA-150-CC/p/10014782']
['/VIVERES/Aceites-y-aderezos/Sazonadores/SALSA-DE-AJO-EXCELSIOR-GAMA-150-CC/p/10014778']
['/VIVERES/Aceites-y-aderezos/Sazonadores/SALSA-DE-AJO-EXCELSIOR-GAMA-150-CC/p/10014778']
['/VIVERES/Aceites-y-aderezos/Sazonadores/SALSA-DE-SOYA-EXCELSIOR-GAMA-150-CC/p/10014780']
['/VIVERES/Aceites-y-aderezos/Sazonadores/SALSA-DE-SOYA-EXCELSIOR-GAMA-150-CC/p/10014780']
['/VIVERES/Panes/Tortillas/-TORTILLAS-DE-HARINA-DE-TRIGO-EXCELSIOR-GAMA-330-GR/p/30007315']
['/VIVERES/Panes/Tortillas/-TORTILLAS-DE-HARINA-DE-TRIGO-EXCELSIOR-GAMA-330-GR/p/30007315']
['/VIVERES/Panes/Croissant/CROISSANT-EXCELSIOR-GAMA-500-GR/p/10014791']
['/VIVERES/Panes/Croissant/CROISSANT-EXCELSIOR-GAMA-500-GR/p/10014791']
['/VIVERES/Aceites-y-aderezos/Vinagres/-VINAGRE-EXCELSIOR-GAMA-1000-CC/p/10014785']
['/VIVERES/Aceites-y-aderezos/Vinagres/-VINAGRE-EXCELSIOR-GAMA-1000-CC/p/10014785']
['/VIVERES/Pastas-y-Harinas/Pastas/LAZ0-AL-HUEVO-C-ESPINACAS-EXCELSIOR-GAMA-250gr/p/10017203']
['/VIVERES/Pastas-y-Harinas/Pastas/LAZ0-AL-HUEVO-C-ESPINACAS-EXCELSIOR-GAMA-250gr/p/10017203']
['/VIVERES/Pastas-y-Harinas/Pastas/PASTICHO-DIRECTO-AL-HORNO-EXCELSIOR-GAMA-250-GR/p/10016444']
['/VIVERES/Pastas-y-Harinas/Pastas/PASTICHO-DIRECTO-AL-HORNO-EXCELSIOR-GAMA-250-GR/p/10016444']
['/VIVERES/Aceites-y-aderezos/Salsas-de-Tomate/SALSA-DE-TOMATE-EXCELSIOR-GAMA-397-GR/p/10017113']
['/VIVERES/Aceites-y-aderezos/Salsas-de-Tomate/SALSA-DE-TOMATE-EXCELSIOR-GAMA-397-GR/p/10017113']
['/VIVERES/Aceites-y-aderezos/Mostazas/MOSTAZA-PREPARADA-EXCELSIOR-GAMA-285-GR/p/10020339']
['/VIVERES/Aceites-y-aderezos/Mostazas/MOSTAZA-PREPARADA-EXCELSIOR-GAMA-285-GR/p/10020339']
['/VIVERES/Pastas-y-Harinas/Pastas/CANELONES-DIRECTO-AL-HORNO-EXCELSIOR-GAMA-250-GR/p/10016438']
['/VIVERES/Pastas-y-Harinas/Pastas/CANELONES-DIRECTO-AL-HORNO-EXCELSIOR-GAMA-250-GR/p/10016438']
['/VIVERES/Pastas-y-Harinas/Pastas/PASTA-AL-HUEVO-CON-ESPINACAS-EXCELSIOR-GAMA-250-GR/p/10016439']
['/VIVERES/Pastas-y-Harinas/Pastas/PASTA-AL-HUEVO-CON-ESPINACAS-EXCELSIOR-GAMA-250-GR/p/10016439']
['/VIVERES/Pastas-y-Harinas/Pastas/PASTA-AL-HUEVO-ESPINACAS-EN-PLUMITAS-EXCELSIOR-GAMA-250-GR/p/10016440']
['/VIVERES/Pastas-y-Harinas/Pastas/PASTA-AL-HUEVO-ESPINACAS-EN-PLUMITAS-EXCELSIOR-GAMA-250-GR/p/10016440']
['/VIVERES/Galletas-y-Golosinas/Galletas/MINI-GALLETAS-DE-VAINILLA-EXCELSIOR-GAMA-180-GR/p/10030845']
['/VIVERES/Galletas-y-Golosinas/Galletas/MINI-GALLETAS-DE-VAINILLA-EXCELSIOR-GAMA-180-GR/p/10030845']
['/VIVERES/Galletas-y-Golosinas/Galletas/MINI-GALLETAS-DE-VAINILLA-CON-GOTAS-DE-CHOCOLATE-EXCELSIOR-GAMA-180-GR/p/10030847']
['/VIVERES/Galletas-y-Golosinas/Galletas/MINI-GALLETAS-DE-VAINILLA-CON-GOTAS-DE-CHOCOLATE-EXCELSIOR-GAMA-180-GR/p/10030847']
['/VIVERES/Galletas-y-Golosinas/Galletas/GALLETAS-DE-VAINILLA-CON-CREMA-DE-VAINILLA-EXCELSIOR-GAMA-140-GR/p/10030846']
['/VIVERES/Galletas-y-Golosinas/Galletas/GALLETAS-DE-VAINILLA-CON-CREMA-DE-VAINILLA-EXCELSIOR-GAMA-140-GR/p/10030846']
['/VIVERES/Galletas-y-Golosinas/Galletas/GALLETAS-DE-VAINILLA-CON-CREMA-DE-FRESA-EXCELSIOR-GAMA-140-GR/p/10030848']
['/VIVERES/Galletas-y-Golosinas/Galletas/GALLETAS-DE-VAINILLA-CON-CREMA-DE-FRESA-EXCELSIOR-GAMA-140-GR/p/10030848']
['/VIVERES/Galletas-y-Golosinas/Galletas/GALLETAS-DE-CHOCOLATE-CON-CREMA-DE-VAINILLA-EXCELSIOR-GAMA-140-GR/p/10030849']
['/VIVERES/Galletas-y-Golosinas/Galletas/GALLETAS-DE-CHOCOLATE-CON-CREMA-DE-VAINILLA-EXCELSIOR-GAMA-140-GR/p/10030849']
['/VIVERES/Panes/Salados/PAN-CANILLA-1-UN/p/29006420']
['/VIVERES/Panes/Salados/PAN-CANILLA-1-UN/p/29006420']
['/VIVERES/Panes/Salados/PAN-DE-OREGANO-1-UN/p/29006422']
['/VIVERES/Panes/Salados/PAN-DE-OREGANO-1-UN/p/29006422']
NoneType
NoneType
NoneType
NoneType
NoneType
NoneType
NoneType